<a href="https://colab.research.google.com/github/Pdugovich/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module2')

Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
Already up to date.
Requirement already satisfied: category_encoders==2.0.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: eli5==0.10.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: matplotlib!=3.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (3.0.3)
Requirement already satisfied: pandas-profiling==2.3.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 4)) (2.3.0)
Requirement already satisfied: pdpbox==0.2.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 5)) (0.2.0)
Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (4.1.1)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (0.21.3)
Requirement already satisfied: shap==0.29.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 9)) (0.29.3)
Requirement already satisfied: statsmodels==0.10.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 10)) (0.10.1)
Requirement already satisfied: xgboost==0.90 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 11)) (0.90)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.16.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.24.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (2.10.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.10.1)
Requirement already satisfied: typing in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (3.7.4.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (19.1.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.8.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (1.12.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.5.3)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.12)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.0.0)
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.0.5)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.9.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (5.4.8)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (5.5.0)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (4.28.1)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (0.15.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0->-r requirements.txt (line 1)) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5==0.10.0->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.1.1->-r requirements.txt (line 3)) (41.2.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.13)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.40.1)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.6.0)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.2.0)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.3.3)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.14.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (1.0.16)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (2.1.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.3.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.7.0)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.3)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (4.3.0)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (1.0.3)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.29.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.7)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (7.2.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.23)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.8.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (19.2)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.13.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (17.0.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.3)
Requirement already satisfied: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.4.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.6.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (0.46)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.1)
Requirement already satisfied: astroid<2.4,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.3.1)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.11.2)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.0)

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

### Feature Engineering before split so I don't have to reorganize anything

In [0]:
df.isnull().sum()

bathrooms                  0
bedrooms                   0
created                    0
description             1425
display_address          133
latitude                   0
longitude                  0
price                      0
street_address            10
interest_level             0
elevator                   0
cats_allowed               0
hardwood_floors            0
dogs_allowed               0
doorman                    0
dishwasher                 0
no_fee                     0
laundry_in_building        0
fitness_center             0
pre-war                    0
laundry_in_unit            0
roof_deck                  0
outdoor_space              0
dining_room                0
high_speed_internet        0
balcony                    0
swimming_pool              0
new_construction           0
terrace                    0
exclusive                  0
loft                       0
garden_patio               0
wheelchair_access          0
common_outdoor_space       0
beds_per_bath            151
dtype: int64

In [0]:
df.head(1)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0

[1 rows x 34 columns]

In [0]:
df['beds_per_bath'] = df['bedrooms'] / df['bathrooms']

In [0]:
#I'm seeing some zeroes, which shouldn't be the case
df['beds_per_bath']

In [0]:
df['bathrooms'].value_counts()

1.0     39152
2.0      7619
3.0       680
1.5       645
0.0       304
2.5       256
4.0        93
3.5        55
4.5         8
5.0         4
10.0        1
Name: bathrooms, dtype: int64

In [0]:
#Alright, I'm really interested in these apartments with 0 bedrooms.
df['bedrooms'].value_counts()

1    15651
2    14569
0     9317
3     7188
4     1825
5      221
6       43
8        2
7        1
Name: bedrooms, dtype: int64

In [0]:
zero_bed_apartments = df[df['bedrooms'] == 0]

In [0]:
# Ah yes, Studio apartments. That makes sense.
zero_bed_apartments.head()

    bathrooms  bedrooms  ... common_outdoor_space beds_per_bath
10        1.0         0  ...                    0           0.0
15        1.0         0  ...                    0           0.0
30        1.0         0  ...                    0           0.0
37        1.0         0  ...                    0           0.0
39        1.0         0  ...                    0           0.0

[5 rows x 35 columns]

In [0]:
zero_bath_apartments = df[df['bathrooms'] == 0]

In [0]:
# Can't wrap my head around these guys.
zero_bath_apartments

In [0]:
zero_apartments = zero_bath_apartments[zero_bath_apartments['bedrooms'] ==0]

In [0]:
zero_apartments

       bathrooms  bedrooms  ... common_outdoor_space beds_per_bath
240          0.0         0  ...                    0           NaN
300          0.0         0  ...                    0           NaN
481          0.0         0  ...                    0           NaN
679          0.0         0  ...                    0           NaN
1379         0.0         0  ...                    0           NaN
1601         0.0         0  ...                    0           NaN
2416         0.0         0  ...                    0           NaN
2982         0.0         0  ...                    0           NaN
3091         0.0         0  ...                    0           NaN
3353         0.0         0  ...                    0           NaN
3357         0.0         0  ...                    0           NaN
3797         0.0         0  ...                    0           NaN
3929         0.0         0  ...                    0           NaN
3960         0.0         0  ...                    0           NaN
4029         0.0         0  ...                    0           NaN
4730         0.0         0  ...                    0           NaN
5222         0.0         0  ...                    0           NaN
5502         0.0         0  ...                    0           NaN
5569         0.0         0  ...                    0           NaN
5596         0.0         0  ...                    0           NaN
6043         0.0         0  ...                    0           NaN
6094         0.0         0  ...                    0           NaN
6785         0.0         0  ...                    0           NaN
6951         0.0         0  ...                    0           NaN
7208         0.0         0  ...                    0           NaN
7589         0.0         0  ...                    0           NaN
8404         0.0         0  ...                    0           NaN
8750         0.0         0  ...                    0           NaN
8847         0.0         0  ...                    0           NaN
9060         0.0         0  ...                    0           NaN
...          ...       ...  ...                  ...           ...
39603        0.0         0  ...                    0           NaN
39781        0.0         0  ...                    0           NaN
40804        0.0         0  ...                    0           NaN
41122        0.0         0  ...                    0           NaN
41371        0.0         0  ...                    0           NaN
41800        0.0         0  ...                    0           NaN
41830        0.0         0  ...                    0           NaN
41840        0.0         0  ...                    0           NaN
41974        0.0         0  ...                    0           NaN
42595        0.0         0  ...                    0           NaN
42801        0.0         0  ...                    0           NaN
43604        0.0         0  ...                    0           NaN
43706        0.0         0  ...                    0           NaN
44018        0.0         0  ...                    0           NaN
44338        0.0         0  ...                    0           NaN
44376        0.0         0  ...                    0           NaN
44674        0.0         0  ...                    0           NaN
44696        0.0         0  ...                    0           NaN
44819        0.0         0  ...                    0           NaN
45023        0.0         0  ...                    0           NaN
45899        0.0         0  ...                    0           NaN
46110        0.0         0  ...                    0           NaN
46267        0.0         0  ...                    0           NaN
46275        0.0         0  ...                    0           NaN
46490        0.0         0  ...                    0           NaN
46569        0.0         0  ...                    0           NaN
46740        0.0         0  ...                    0           NaN
46878        0.0         0  ...                    0           NaN
47125        0.0         0  ...                    0           NaN
48834        0.0         0  ...                    0           NaN

[151 rows x 35 columns]

In [0]:
# My mind is blown.
zero_apartments['price'].mean()

2965.3112582781455

In [0]:
#Lets make a feature for noting if it's an apartment with no beds or baths
df['zero_apartments'] =(df['bathrooms'] == 0) & (df['bedrooms']==0)

In [0]:
#Replacing true/false with 1/0
df['zero_apartments'] = df['zero_apartments'].replace({True: 1, False:0})

In [94]:
df['zero_apartments'].value_counts()

0    48666
1      151
Name: zero_apartments, dtype: int64

In [0]:
df['cats_and_dogs'] = (df['cats_allowed'] == 1) & (df['dogs_allowed'] == 1)

### A feature for total amenities

In [0]:
#Feature for total amenities
amenities = ['elevator','cats_allowed','hardwood_floors','dogs_allowed',
             'doorman','dishwasher','no_fee','laundry_in_building',
             'fitness_center','pre-war','laundry_in_unit','roof_deck',
             'outdoor_space','dining_room','high_speed_internet','balcony',
             'swimming_pool','new_construction','terrace','exclusive',
             'loft','garden_patio','wheelchair_access','common_outdoor_space'] 

df['sum_amenities'] =df[amenities].sum(axis=1)

In [0]:
df['sum_amenities']

### Train/Test splitting

In [95]:
df.head()

   bathrooms  bedrooms  ... sum_amenities zero_apartments
0        1.5         3  ...             0               0
1        1.0         2  ...             5               0
2        1.0         1  ...             3               0
3        1.0         1  ...             2               0
4        1.0         4  ...             1               0

[5 rows x 37 columns]

In [77]:
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
beds_per_bath                  float64
sum_amenities                    int64
zero_apartments                  int64
dtype: object

In [0]:
# What a great thing pd.to_datetime is
df['created'] = pd.to_datetime(df['created'])

In [0]:
# Creating two dataframes separated by months
train = df[df['created'].dt.month < 6]
test = df[df['created'].dt.month == 6]

In [0]:
train.head()

In [79]:
test.head()

    bathrooms  bedrooms  ... sum_amenities zero_apartments
0         1.5         3  ...             0               0
1         1.0         2  ...             5               0
11        1.0         1  ...             0               0
14        1.0         1  ...             3               0
24        2.0         4  ...            11               0

[5 rows x 37 columns]

### Fit a linear regression model with two features

In [0]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [100]:
# Grabbing a baseline

#selecting column name the y variable to guess
target = 'price'

# naming the target variable for the train and test data
y_train = train[target]
y_test = test[target]

# Getting the mean of the training data to use as baseline.
# This is what the single feature guess is
print('Baseline Error to gague progress')
baseline_guess = y_train.mean()

#Figuring out the training error  

# y prediction that is the LENGTH of the training data
y_pred_train = [baseline_guess] * len(y_train)
mae1 = mean_absolute_error(y_train,y_pred_train)
print('Train Error (April and May 2016): ' + str(mae1))


# Figuring out the error by creating a list of 
#guesses equal to the number of observations
#This is because our guess would be the same (the train mean)
#for every observation in the test

#y prediction that is the LENGTH of the test
y_pred_test = [baseline_guess] * len(y_test)
mae2 = mean_absolute_error(y_test, y_pred_test)
print('Test Error (July 2016): ' + str(mae2))

Baseline Error to gague progress
Train Error (April and May 2016): 1201.8811133682555
Test Error (July 2016): 1197.7088871089013

In [101]:
# I don't need to reassign these variables, but I will
target = 'price'
y_train = train[target]

features = ['sum_amenities','zero_apartments']

X_train = train[features]
X_test = test[features]

model1 = LinearRegression()

model1.fit(X_train,y_train)
y_pred_train = model1.predict(X_train)

mae_train = mean_absolute_error(y_train,y_pred_train)
print('Train Error: ' + str(mae_train))

y_pred_test = model1.predict(X_test)
mae_test = mean_absolute_error(y_test, y_pred_test)
print('Test Error: ' + str(mae_test))

Train Error: 1139.3561662777124
Test Error: 1126.9291816567852

Well, that did just a hair better than baseline.

### Models coefficients and intercept

In [104]:
model1.intercept_

2848.714461538271

In [105]:
# so every additional ammenity increases the cost of rent by 154
# and having an apartment with no beds or baths lowers the cost by 441
model1.coef_

array([ 154.62760735, -441.09704809])

### regression metrics RSME, MAE, R^2 for both train and test data

In [0]:
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [110]:
#Copying code from above and adding in regression metrics

target = 'price'
y_train = train[target]
y_test = test[target]

features = ['sum_amenities','zero_apartments']

X_train = train[features]
X_test = test[features]

model1 = LinearRegression()

print('Training Calculations')
#Calculating for train data
model1.fit(X_train,y_train)
y_pred_train = model1.predict(X_train)

#MAE
mae_train = mean_absolute_error(y_train,y_pred_train)
print('Train MAE: ' + str(mae_train))
#R2
r2_train = r2_score(y_train, y_pred_train)
print('Train R2: ' + str(r2_train))
#MSE
mse_train = mean_squared_error(y_train, y_pred_train)
print('Train MSE: ' + str(mse_train))
#RSME
rsme_train = mse_train**.5
print('Train RSME ' + str(rsme_train))

print('\nTesting Calculations')
# Calculating for test data
y_pred_test = model1.predict(X_test)
mae_test = mean_absolute_error(y_test, y_pred_test)

#MAE
mae_test = mean_absolute_error(y_test,y_pred_test)
print('Test MAE: ' + str(mae_test))

#R2
r2_test = r2_score(y_test, y_pred_test)
print('Test R2: ' + str(r2_test))

#MSE
mse_test = mean_squared_error(y_test, y_pred_test)
print('Test MSE: ' + str(mse_test))

#RSME
rsme_test = mse_test**.5
print('Test RSME ' + str(rsme_test))

Training Calculations
Train MAE: 1139.3561662777124
Train R2: 0.09155116202362279
Train MSE: 2820759.27642716
Train RSME 1679.5116184257731

Testing Calculations
Test MAE: 1126.9291816567852
Test R2: 0.09639548065475612
Test MSE: 2808422.0638527097
Test RSME 1675.834736438146

In [0]:
#selecting all numeric columns for MAE testing
df_for_mae = df.select_dtypes(include='number')

In [0]:
df_for_mae = df_for_mae.drop(columns='beds_per_bath')

In [126]:
df_for_mae.head()

   bathrooms  bedrooms  latitude  ...  beds_per_bath  sum_amenities  zero_apartments
0        1.5         3   40.7145  ...            2.0              0                0
1        1.0         2   40.7947  ...            2.0              5                0
2        1.0         1   40.7388  ...            1.0              3                0
3        1.0         1   40.7539  ...            1.0              2                0
4        1.0         4   40.8241  ...            4.0              1                0

[5 rows x 32 columns]

In [0]:
# for single column

mae_by_col = []
for feature in df_for_mae.columns:
  model = LinearRegression()
  features = [feature]
  target = 'price'
  X_train = df[features]
  y_train = df[target]
  model.fit(X_train,y_train)
  y_pred = model.predict(df[features])
  error = mean_absolute_error(y_train,y_pred)
  mae_by_col.append({str(feature): error})

In [131]:
mae_by_col

[{'bathrooms': 889.7631877413652},
 {'bedrooms': 975.6496767374764},
 {'latitude': 1199.04628931195},
 {'longitude': 1144.2648232666427},
 {'price': 3.9229259918074074e-13},
 {'elevator': 1173.064845040008},
 {'cats_allowed': 1198.04915820049},
 {'hardwood_floors': 1198.7261894084704},
 {'dogs_allowed': 1197.2191761169793},
 {'doorman': 1156.7361465139638},
 {'dishwasher': 1171.6623542947125},
 {'no_fee': 1192.776853526042},
 {'laundry_in_building': 1201.329312358066},
 {'fitness_center': 1169.6353645549684},
 {'pre-war': 1200.6825561891678},
 {'laundry_in_unit': 1160.9803893884323},
 {'roof_deck': 1192.8262688082948},
 {'outdoor_space': 1187.8398683194848},
 {'dining_room': 1168.3221049083145},
 {'high_speed_internet': 1195.6752136997882},
 {'balcony': 1187.515336153092},
 {'swimming_pool': 1193.1072880315883},
 {'new_construction': 1200.249343284789},
 {'terrace': 1188.733040985156},
 {'exclusive': 1201.3631129934672},
 {'loft': 1201.8790142812356},
 {'garden_patio': 1194.4766966067973},
 {'wheelchair_access': 1199.7143921097177},
 {'common_outdoor_space': 1201.4064943829142},
 {'sum_amenities': 1137.9879699935102},
 {'zero_apartments': 1200.8300461886693}]

In [0]:
#for two features

mae_by_cols = []
for feature1 in df_for_mae.columns:
  for feature2 in df_for_mae.columns:
    if feature1 != feature2:
      model = LinearRegression()
      features = [feature1,feature2]
      target = 'price'
      X_train = df[features]
      y_train = df[target]
      model.fit(X_train,y_train)
      y_pred = model.predict(df[features])
      error = mean_absolute_error(y_train,y_pred)
      mae_by_cols.append({str(feature1) + ' and ' + str(feature2): error})

In [174]:
mae_by_cols

[{'bathrooms and bedrooms': 821.9653796977909},
 {'bathrooms and latitude': 884.2877630183418},
 {'bathrooms and longitude': 821.8723107728202},
 {'bathrooms and price': 2.9315400644031846e-14},
 {'bathrooms and elevator': 868.1499237847396},
 {'bathrooms and cats_allowed': 886.8973673113898},
 {'bathrooms and hardwood_floors': 887.5908761524163},
 {'bathrooms and dogs_allowed': 886.2544423294763},
 {'bathrooms and doorman': 852.8241123269296},
 {'bathrooms and dishwasher': 874.0246561134173},
 {'bathrooms and no_fee': 884.5024072459859},
 {'bathrooms and laundry_in_building': 889.9824471756513},
 {'bathrooms and fitness_center': 865.9176198182182},
 {'bathrooms and pre-war': 889.0423513917731},
 {'bathrooms and laundry_in_unit': 876.1498877617796},
 {'bathrooms and roof_deck': 885.1700421642943},
 {'bathrooms and outdoor_space': 886.1912281309172},
 {'bathrooms and dining_room': 884.6410179198015},
 {'bathrooms and high_speed_internet': 888.1316231473022},
 {'bathrooms and balcony': 886.3902682043209},
 {'bathrooms and swimming_pool': 886.5198909956231},
 {'bathrooms and new_construction': 889.4424647141207},
 {'bathrooms and terrace': 887.5678255491018},
 {'bathrooms and exclusive': 889.6233718005758},
 {'bathrooms and loft': 889.580799477564},
 {'bathrooms and garden_patio': 888.9830490324542},
 {'bathrooms and wheelchair_access': 889.0930862406803},
 {'bathrooms and common_outdoor_space': 888.9649193091087},
 {'bathrooms and sum_amenities': 863.8092617610148},
 {'bathrooms and zero_apartments': 883.7272775762083},
 {'bedrooms and bathrooms': 821.965379697791},
 {'bedrooms and latitude': 970.0690967421582},
 {'bedrooms and longitude': 886.3783749172},
 {'bedrooms and price': 2.1771365940641573e-13},
 {'bedrooms and elevator': 926.4303849469694},
 {'bedrooms and cats_allowed': 969.6270071660736},
 {'bedrooms and hardwood_floors': 975.3998372864804},
 {'bedrooms and dogs_allowed': 968.1642213946661},
 {'bedrooms and doorman': 901.6975870521336},
 {'bedrooms and dishwasher': 960.123164156311},
 {'bedrooms and no_fee': 971.5151274839003},
 {'bedrooms and laundry_in_building': 975.9594449737848},
 {'bedrooms and fitness_center': 934.0816730610264},
 {'bedrooms and pre-war': 973.5729710004725},
 {'bedrooms and laundry_in_unit': 961.0096215654148},
 {'bedrooms and roof_deck': 968.2379607437538},
 {'bedrooms and outdoor_space': 971.6056297038986},
 {'bedrooms and dining_room': 973.7671980584887},
 {'bedrooms and high_speed_internet': 972.1094462019952},
 {'bedrooms and balcony': 971.8181280422634},
 {'bedrooms and swimming_pool': 970.0047566464664},
 {'bedrooms and new_construction': 974.0455404976492},
 {'bedrooms and terrace': 973.404843261834},
 {'bedrooms and exclusive': 975.6110612439674},
 {'bedrooms and loft': 979.2406587864921},
 {'bedrooms and garden_patio': 974.6238918423254},
 {'bedrooms and wheelchair_access': 974.2858250950073},
 {'bedrooms and common_outdoor_space': 975.1972672213244},
 {'bedrooms and sum_amenities': 928.136718526832},
 {'bedrooms and zero_apartments': 975.7362429219528},
 {'latitude and bathrooms': 884.2877630183426},
 {'latitude and bedrooms': 970.069096742158},
 {'latitude and longitude': 1146.5373076944038},
 {'latitude and price': 2.80391979467861e-14},
 {'latitude and elevator': 1170.2443938464403},
 {'latitude and cats_allowed': 1196.0108568771618},
 {'latitude and hardwood_floors': 1195.9185413722453},
 {'latitude and dogs_allowed': 1195.1789352204048},
 {'latitude and doorman': 1154.8417776583847},
 {'latitude and dishwasher': 1169.0461956317552},
 {'latitude and no_fee': 1190.4100583982258},
 {'latitude and laundry_in_building': 1198.7775307163733},
 {'latitude and fitness_center': 1168.8600695179648},
 {'latitude and pre-war': 1198.3338322502304},
 {'latitude and laundry_in_unit': 1159.0793773915855},
 {'latitude and roof_deck': 1191.0495303970292},
 {'latitude and outdoor_space': 1186.2167592818691},
 {'latitude and dining_room': 1164.8607045310562},
 {'latitude and high_speed_internet': 1193.4628990577685},
 {'latitude and balcony': 1184.6753730837163},
 {'latitude and swimming_pool': 1190.0992638371254},
 {'latitude and new_construction': 1197.9543547807884},
 {'latitude and terrace': 1185.9582347025112},
 {'latitude and exclusive': 1198.8720213185939},
 {'latitude and loft': 1199.3717047974199},
 {'latitude and garden_patio': 1191.8087397356803},
 {'latitude and wheelchair_access': 1197.5626834432353},
 {'latitude and common_outdoor_space': 1199.0130479998304},
 {'latitude and sum_amenities': 1137.0514016777363},
 {'latitude and zero_apartments': 1198.3784967031982},
 {'longitude and bathrooms': 821.8723107728146},
 {'longitude and bedrooms': 886.3783749172186},
 {'longitude and latitude': 1146.5373076943383},
 {'longitude and price': 3.062933050130566e-13},
 {'longitude and elevator': 1123.4578098788618},
 {'longitude and cats_allowed': 1142.392398017622},
 {'longitude and hardwood_floors': 1141.8526223487695},
 {'longitude and dogs_allowed': 1141.906363155926},
 {'longitude and doorman': 1113.313720534161},
 {'longitude and dishwasher': 1119.5937076213809},
 {'longitude and no_fee': 1135.1209858540544},
 {'longitude and laundry_in_building': 1143.6320417782983},
 {'longitude and fitness_center': 1122.8346231900114},
 {'longitude and pre-war': 1143.355247777199},
 {'longitude and laundry_in_unit': 1107.9082363713203},
 {'longitude and roof_deck': 1138.1453406439075},
 {'longitude and outdoor_space': 1132.00513723205},
 {'longitude and dining_room': 1109.8197573792638},
 {'longitude and high_speed_internet': 1140.9084211579998},
 {'longitude and balcony': 1130.4461355045842},
 {'longitude and swimming_pool': 1136.713033386791},
 {'longitude and new_construction': 1143.4103471035705},
 {'longitude and terrace': 1131.8496727052407},
 {'longitude and exclusive': 1144.2618906037223},
 {'longitude and loft': 1143.8537574765057},
 {'longitude and garden_patio': 1136.9651333367917},
 {'longitude and wheelchair_access': 1142.5956702839342},
 {'longitude and common_outdoor_space': 1144.2045419655049},
 {'longitude and sum_amenities': 1098.897674438385},
 {'longitude and zero_apartments': 1143.614536146222},
 {'price and bathrooms': 3.9229259918074074e-13},
 {'price and bedrooms': 0.0},
 {'price and latitude': 0.0},
 {'price and longitude': 3.9631217190965707e-13},
 {'price and elevator': 3.9229259918074074e-13},
 {'price and cats_allowed': 3.9229259918074074e-13},
 {'price and hardwood_floors': 4.5440268300472624e-13},
 {'price and dogs_allowed': 6.833273639157788e-14},
 {'price and doorman': 0.0},
 {'price and dishwasher': 0.0},
 {'price and no_fee': 3.9229259918074074e-13},
 {'price and laundry_in_building': 0.0},
 {'price and fitness_center': 6.833273639157788e-14},
 {'price and pre-war': 3.9229259918074074e-13},
 {'price and laundry_in_unit': 4.5440268300472624e-13},
 {'price and roof_deck': 3.9229259918074074e-13},
 {'price and outdoor_space': 3.9229259918074074e-13},
 {'price and dining_room': 0.0},
 {'price and high_speed_internet': 3.9229259918074074e-13},
 {'price and balcony': 3.9229259918074074e-13},
 {'price and swimming_pool': 2.8442552521900997e-13},
 {'price and new_construction': 4.5440268300472624e-13},
 {'price and terrace': 3.9229259918074074e-13},
 {'price and exclusive': 3.9229259918074074e-13},
 {'price and loft': 6.833273639157788e-14},
 {'price and garden_patio': 6.833273639157788e-14},
 {'price and wheelchair_access': 6.833273639157788e-14},
 {'price and common_outdoor_space': 3.9229259918074074e-13},
 {'price and sum_amenities': 6.428009417671101e-13},
 {'price and zero_apartments': 6.833273639157788e-14},
 {'elevator and bathrooms': 868.1499237847396},
 {'elevator and bedrooms': 926.4303849469694},
 {'elevator and latitude': 1170.244393846441},
 {'elevator and longitude': 1123.4578098788822},
 {'elevator and price': 4.4744411793288264e-13},
 {'elevator and cats_allowed': 1170.615451830707},
 {'elevator and hardwood_floors': 1171.9914529876567},
 {'elevator and dogs_allowed': 1169.8763641312976},
 {'elevator and doorman': 1153.6830664844745},
 {'elevator and dishwasher': 1153.855173916558},
 {'elevator and no_fee': 1167.851070017665},
 {'elevator and laundry_in_building': 1172.055029321278},
 {'elevator and fitness_center': 1158.1422710754368},
 {'elevator and pre-war': 1173.0377485734166},
 {'elevator and laundry_in_unit': 1135.0015698795817},
 {'elevator and roof_deck': 1171.2657853777207},
 {'elevator and outdoor_space': 1165.3800195064898},
 {'elevator and dining_room': 1148.1337678257926},
 {'elevator and high_speed_internet': 1171.8687981348248},
 {'elevator and balcony': 1163.9265861698873},
 {'elevator and swimming_pool': 1168.7092154844763},
 {'elevator and new_construction': 1173.1727444761202},
 {'elevator and terrace': 1163.72426702421},
 {'elevator and exclusive': 1172.6218489521007},
 {'elevator and loft': 1172.8130699226442},
 {'elevator and garden_patio': 1167.8251388172137},
 {'elevator and wheelchair_access': 1172.8640943554517},
 {'elevator and common_outdoor_space': 1172.9632108341896},
 {'elevator and sum_amenities': 1136.9578525228906},
 {'elevator and zero_apartments': 1172.4052130415746},
 {'cats_allowed and bathrooms': 886.8973673113898},
 {'cats_allowed and bedrooms': 969.6270071660734},
 {'cats_allowed and latitude': 1196.0108568771611},
 {'cats_allowed and longitude': 1142.392398017663},
 {'cats_allowed and price': 4.644912050566762e-13},
 {'cats_allowed and elevator': 1170.615451830707},
 {'cats_allowed and hardwood_floors': 1193.1131730106272},
 {'cats_allowed and dogs_allowed': 1197.234579397208},
 {'cats_allowed and doorman': 1155.6123079932433},
 {'cats_allowed and dishwasher': 1166.890755752577},
 {'cats_allowed and no_fee': 1189.1025756928914},
 {'cats_allowed and laundry_in_building': 1197.662120261856},
 {'cats_allowed and fitness_center': 1168.5809388990422},
 {'cats_allowed and pre-war': 1197.2631414274324},
 {'cats_allowed and laundry_in_unit': 1157.3317895632445},
 {'cats_allowed and roof_deck': 1189.9274584889624},
 {'cats_allowed and outdoor_space': 1185.6189408604923},
 {'cats_allowed and dining_room': 1164.5380502500498},
 {'cats_allowed and high_speed_internet': 1192.8348589647148},
 {'cats_allowed and balcony': 1184.5685281700275},
 {'cats_allowed and swimming_pool': 1190.0060079442392},
 {'cats_allowed and new_construction': 1197.0708821450717},
 {'cats_allowed and terrace': 1185.6052356944172},
 {'cats_allowed and exclusive': 1197.8300484258593},
 {'cats_allowed and loft': 1198.527624387406},
 {'cats_allowed and garden_patio': 1191.1855853048908},
 {'cats_allowed and wheelchair_access': 1196.4882562020716},
 {'cats_allowed and common_outdoor_space': 1198.0127124044025},
 {'cats_allowed and sum_amenities': 1137.5144623107496},
 {'cats_allowed and zero_apartments': 1197.4560908867572},
 {'hardwood_floors and bathrooms': 887.5908761524165},
 {'hardwood_floors and bedrooms': 975.3998372864804},
 {'hardwood_floors and latitude': 1195.9185413722469},
 {'hardwood_floors and longitude': 1141.852622348764},
 {'hardwood_floors and price': 6.497175877722558e-13},
 {'hardwood_floors and elevator': 1171.9914529876567},
 {'hardwood_floors and cats_allowed': 1193.1131730106272},
 {'hardwood_floors and dogs_allowed': 1192.024138873781},
 {'hardwood_floors and doorman': 1154.169619656267},
 {'hardwood_floors and dishwasher': 1168.0720465989236},
 {'hardwood_floors and no_fee': 1192.0491739659565},
 {'hardwood_floors and laundry_in_building': 1198.8057640268191},
 {'hardwood_floors and fitness_center': 1166.5049969669747},
 {'hardwood_floors and pre-war': 1197.5478753492719},
 {'hardwood_floors and laundry_in_unit': 1160.9308398843912},
 {'hardwood_floors and roof_deck': 1192.2658959732423},
 {'hardwood_floors and outdoor_space': 1186.6934579844878},
 {'hardwood_floors and dining_room': 1167.9801180225056},
 {'hardwood_floors and high_speed_internet': 1194.617798417639},
 {'hardwood_floors and balcony': 1186.4337381998555},
 {'hardwood_floors and swimming_pool': 1191.57640260853},
 {'hardwood_floors and new_construction': 1197.9914223912697},
 {'hardwood_floors and terrace': 1187.6888686425211},
 {'hardwood_floors and exclusive': 1198.756608374677},
 {'hardwood_floors and loft': 1198.4804898093278},
 {'hardwood_floors and garden_patio': 1192.7434040579326},
 {'hardwood_floors and wheelchair_access': 1197.3482470977929},
 {'hardwood_floors and common_outdoor_space': 1198.120386339486},
 {'hardwood_floors and sum_amenities': 1135.1113399967132},
 {'hardwood_floors and zero_apartments': 1198.21615831764},
 {'dogs_allowed and bathrooms': 886.2544423294763},
 {'dogs_allowed and bedrooms': 968.1642213946661},
 {'dogs_allowed and latitude': 1195.1789352204048},
 {'dogs_allowed and longitude': 1141.9063631558745},
 {'dogs_allowed and price': 2.934940166479788e-13},
 {'dogs_allowed and elevator': 1169.8763641312978},
 {'dogs_allowed and cats_allowed': 1197.2345793972083},
 {'dogs_allowed and hardwood_floors': 1192.024138873781},
 {'dogs_allowed and doorman': 1155.1454194451676},
 {'dogs_allowed and dishwasher': 1165.959312852},
 {'dogs_allowed and no_fee': 1188.526009688002},
 {'dogs_allowed and laundry_in_building': 1196.948924512797},
 {'dogs_allowed and fitness_center': 1168.13094028766},
 {'dogs_allowed and pre-war': 1196.4190274027142},
 {'dogs_allowed and laundry_in_unit': 1156.9231521230952},
 {'dogs_allowed and roof_deck': 1189.1060492025229},
 {'dogs_allowed and outdoor_space': 1184.8964169387523},
 {'dogs_allowed and dining_room': 1163.9811771018353},
 {'dogs_allowed and high_speed_internet': 1192.1637558718219},
 {'dogs_allowed and balcony': 1183.966520207003},
 {'dogs_allowed and swimming_pool': 1189.2619645919044},
 {'dogs_allowed and new_construction': 1196.3205695427355},
 {'dogs_allowed and terrace': 1184.8859871774707},
 {'dogs_allowed and exclusive': 1196.996516108075},
 {'dogs_allowed and loft': 1197.7062782409869},
 {'dogs_allowed and garden_patio': 1190.4041690180281},
 {'dogs_allowed and wheelchair_access': 1195.754231468295},
 {'dogs_allowed and common_outdoor_space': 1197.1803648726977},
 {'dogs_allowed and sum_amenities': 1137.7999728685002},
 {'dogs_allowed and zero_apartments': 1196.6369551645762},
 {'doorman and bathrooms': 852.8241123269296},
 {'doorman and bedrooms': 901.6975870521336},
 {'doorman and latitude': 1154.8417776583847},
 {'doorman and longitude': 1113.3137205341757},
 {'doorman and price': 1.140813427159836e-12},
 {'doorman and elevator': 1153.6830664844745},
 {'doorman and cats_allowed': 1155.6123079932433},
 {'doorman and hardwood_floors': 1154.169619656267},
 {'doorman and dogs_allowed': 1155.1454194451674},
 {'doorman and dishwasher': 1135.4691747563927},
 {'doorman and no_fee': 1151.8543772658795},
 {'doorman and laundry_in_building': 1155.6591663888676},
 {'doorman and fitness_center': 1151.6346670508265},
 {'doorman and pre-war': 1156.5644932892803},
 {'doorman and laundry_in_unit': 1120.3518630955055},
 {'doorman and roof_deck': 1156.1760651889563},
 {'doorman and outdoor_space': 1149.178427793622},
 {'doorman and dining_room': 1132.6140407616938},
 {'doorman and high_speed_internet': 1156.5821941905554},
 {'doorman and balcony': 1147.9433018612365},
 {'doorman and swimming_pool': 1154.8023644964524},
 {'doorman and new_construction': 1156.7540871147426},
 {'doorman and terrace': 1147.1782114574548},
 {'doorman and exclusive': 1156.7988570494833},
 {'doorman and loft': 1156.9813917488264},
 {'doorman and garden_patio': 1151.3284654413915},
 {'doorman and wheelchair_access': 1156.5720909634313},
 {'doorman and common_outdoor_space': 1156.3592417530388},
 {'doorman and sum_amenities': 1131.4803116482556},
 {'doorman and zero_apartments': 1156.0900184882175},
 {'dishwasher and bathrooms': 874.0246561134173},
 {'dishwasher and bedrooms': 960.123164156311},
 {'dishwasher and latitude': 1169.046195631756},
 {'dishwasher and longitude': 1119.5937076213738},
 {'dishwasher and price': 1.034283105658359e-12},
 {'dishwasher and elevator': 1153.855173916558},
 {'dishwasher and cats_allowed': 1166.8907557525772},
 {'dishwasher and hardwood_floors': 1168.0720465989236},
 {'dishwasher and dogs_allowed': 1165.959312852},
 {'dishwasher and doorman': 1135.4691747563925},
 {'dishwasher and no_fee': 1168.8164967381476},
 {'dishwasher and laundry_in_building': 1171.5249032532317},
 {'dishwasher and fitness_center': 1146.6563654459133},
 {'dishwasher and pre-war': 1170.7758260100773},
 {'dishwasher and laundry_in_unit': 1149.8106887822935},
 {'dishwasher and roof_deck': 1168.4398879893754},
 {'dishwasher and outdoor_space': 1163.4064025687164},
 {'dishwasher and dining_room': 1152.8847444320143},
 {'dishwasher and high_speed_internet': 1170.0902036217647},
 {'dishwasher and balcony': 1164.3425437536762},
 {'dishwasher and swimming_pool': 1167.0343730334555},
 {'dishwasher and new_construction': 1171.5926159865592},
 {'dishwasher and terrace': 1164.2843435619345},
 {'dishwasher and exclusive': 1171.6935050680834},
 {'dishwasher and loft': 1171.275065075444},
 {'dishwasher and garden_patio': 1168.272608503856},
 {'dishwasher and wheelchair_access': 1171.1783928744646},
 {'dishwasher and common_outdoor_space': 1170.0956015961679},
 {'dishwasher and sum_amenities': 1136.4261688510426},
 {'dishwasher and zero_apartments': 1171.3382104314358},
 {'no_fee and bathrooms': 884.5024072459856},
 {'no_fee and bedrooms': 971.5151274839001},
 {'no_fee and latitude': 1190.4100583982267},
 {'no_fee and longitude': 1135.1209858540753},
 {'no_fee and price': 2.88053853325413e-13},
 {'no_fee and elevator': 1167.851070017665},
 {'no_fee and cats_allowed': 1189.1025756928912},
 {'no_fee and hardwood_floors': 1192.0491739659567},
 {'no_fee and dogs_allowed': 1188.526009688002},
 {'no_fee and doorman': 1151.8543772658795},
 {'no_fee and dishwasher': 1168.8164967381476},
 {'no_fee and laundry_in_building': 1192.786053803045},
 {'no_fee and fitness_center': 1165.6389932591314},
 {'no_fee and pre-war': 1191.677598708118},
 {'no_fee and laundry_in_unit': 1157.608460250478},
 {'no_fee and roof_deck': 1187.4039220972127},
 {'no_fee and outdoor_space': 1182.460826358417},
 {'no_fee and dining_room': 1164.09206965963},
 {'no_fee and high_speed_internet': 1189.4112447002053},
 {'no_fee and balcony': 1180.9712449106364},
 {'no_fee and swimming_pool': 1186.342379817018},
 {'no_fee and new_construction': 1192.2557433004033},
 {'no_fee and terrace': 1182.0320402109917},
 {'no_fee and exclusive': 1192.591228552181},
 {'no_fee and loft': 1193.260589505841},
 {'no_fee and garden_patio': 1187.0749982969642},
 {'no_fee and wheelchair_access': 1191.6593562558567},
 {'no_fee and common_outdoor_space': 1192.6586314262997},
 {'no_fee and sum_amenities': 1137.4903262519042},
 {'no_fee and zero_apartments': 1192.011158354492},
 {'laundry_in_building and bathrooms': 889.9824471756513},
 {'laundry_in_building and bedrooms': 975.9594449737848},
 {'laundry_in_building and latitude': 1198.7775307163722},
 {'laundry_in_building and longitude': 1143.6320417782679},
 {'laundry_in_building and price': 2.8442552521900997e-13},
 {'laundry_in_building and elevator': 1172.055029321278},
 {'laundry_in_building and cats_allowed': 1197.662120261856},
 {'laundry_in_building and hardwood_floors': 1198.8057640268191},
 {'laundry_in_building and dogs_allowed': 1196.948924512797},
 {'laundry_in_building and doorman': 1155.6591663888673},
 {'laundry_in_building and dishwasher': 1171.5249032532317},
 {'laundry_in_building and no_fee': 1192.786053803045},
 {'laundry_in_building and fitness_center': 1168.178976905919},
 {'laundry_in_building and pre-war': 1200.5444860258633},
 {'laundry_in_building and laundry_in_unit': 1160.8700295702768},
 {'laundry_in_building and roof_deck': 1192.8668462189742},
 {'laundry_in_building and outdoor_space': 1185.5164155198786},
 {'laundry_in_building and dining_room': 1168.3712834567498},
 {'laundry_in_building and high_speed_internet': 1195.754342124925},
 {'laundry_in_building and balcony': 1187.5929924483198},